.menu {
    /* background-color: #1067C6; */
    width: 50px;
    /* height: 200px; */
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;
}

.circle {
    background-color: #1067C6;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.smallcircle {
    content: "";
    background-color: #E7E7E7;
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation-name: change-color, grow-shrink, expand;
    animation-duration: 8s, 5s, 5s;
    animation-iteration-count: infinite;
}

.smallcircle:hover {
    background-color: rgb(245, 245, 245);
}

.ol-map {
    position: relative;
}

.twobutton {
    opacity: 1;
    transition: opacity 8500ms;
}